<form action="/posts" method="post">
	<p><label for="name">Post title:</label>
		<input type="text" name="name"/>
	</p>
	<p><label for="content">Post content:</label>
		<input type="text" name="content"/>
	</p>
	<p><input type="submit" name="submit" id="submit"></p>
</form>